/* Custom Fonts */
@font-face {
    font-family: 'amatic';
    src: url('WebFont/amaticsc-regular-webfont.eot');
    src: url('WebFont/amaticsc-regular-webfont.eot') format('embedded-opentype'),
         url('WebFont/amaticsc-regular-webfont.woff') format('woff'),
         url('WebFont/amaticsc-regular-webfont.ttf') format('truetype'),
         url('WebFont/amaticsc-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apple';
    src: url('WebFont/homemadeapple-webfont.eot');
    src: url('WebFont/homemadeapple-webfont.eot') format('embedded-opentype'),
         url('WebFont/homemadeapple-webfont.woff') format('woff'),
         url('WebFont/homemadeapple-webfont.ttf') format('truetype'),
         url('WebFont/homemadeapple-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Overall Page */
* {
    box-sizing: border-box;
}

html,body {
    background-color: #cce4fb /* rose foncé #f5c1ed*/;
    color:#0B01FF;
    font-family: 'amatic', Montserrat, serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

#main_container {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2,h3 {
    margin: 10px 0px;
    text-transform: lowercase;
    text-align: center;
}

h3 {
    font-size: 90%;
}

.close {
    display: none;
}

/*Removing the default style on Chrome*/
input:focus {
    outline: transparent;
}

button:focus{
    outline: transparent;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: url("Images/PaperGrid.png") no-repeat center;
    background-size: 44%;
    height: 350px;
    position : relative;
}

header hr {
    display: inline-block;
    width : 90%;
    height: 2px;
    border: none;
    background-color: #0B01FF;
    position : absolute;
    bottom: 0%;
}


header h1 {
    color : #0B01FF;
    text-shadow : 6px 4px rgba(84, 94, 250, 0.5);
    text-transform: uppercase;
    font-size: 600%;
    letter-spacing: .2rem;
    text-align:center;
    width: 50%;
    position: absolute;
    top : 10%;
}

header div {
    display: flex;
    justify-content : center;
    align-items : center;
    position: absolute;
    margin-top: 10px;
    top : 50%;
}

header img{
    width: 50%;
}

/* Section */

section {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}


/* Input bar */
#input_container{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 80px;
}

#input_bar{
    height: 50%;
    border: solid 2px #0B01FF;
    border-radius: 5px 0px 0px 5px;
    margin: 20px 0px;
    flex: 3;
}

#add_tasks {
    height: 50%;
    flex: 0.5;
    margin: 20px 0px;
    border-radius: 0px 5px 5px 0px;
    border-left: none;
    opacity : 1;
}

/* Tasks list */

#tasks_list {
    width: 80%;
    max-height: 1500px;
    overflow: scroll;
    padding: 20px;
}

#task {
    font-size: 100%;
    padding: 10px;
    font-weight: bold;
    text-transform: lowercase;
    display: flex;
}

#tasks_list p {
    flex: 3;
    padding: 5px;
    margin: 0;
    max-width: 80%;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: visible;
}

#button_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    height: 50%;
    margin: 0;
    flex: 0.5;
}

#button_wrapper img{
    height: 30px;
    width: auto;
    margin: 7px;
}

#button_wrapper img:hover {
    cursor : pointer;
}

/* List footer*/

.open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#caption {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top : 10px;
    margin-bottom : 2px;
}

#list_footer span {
    font-size: 80%;
}

progress  {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Get rid of default border in Firefox. */
    border: none;

    width: 80%;
    height: 15px;
}


progress::-moz-progress-bar { /*Mozilla style*/
    background-color: #0B01FF;
    border: 2px solid #0B01FF;
      border-radius: 5px;
}

progress::-webkit-progress-bar { /* Chrome Style*/
    background-color: white;
    border-radius: 50px;
    border: 1px solid #0B01FF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    box-shadow: none;
}

progress::-webkit-progress-value { /* Chrome Style*/
    background-color: #0B01FF;
    border-radius: 50px;
}



.button {
    font-family: 'helvetica', serif;
    color: #0B01FF;
    background-color: transparent;
    padding : 10px;
    border: solid 2px #0B01FF;
    border-radius : 5px;
    opacity: 0.5;
    margin: 15px;
}

.button:hover {
    opacity : 1;
    cursor: pointer;
}

/* Modal */

#modal_container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    text-align : center;
    z-index: 9999;
}

#modal {
    display: inline-block;
    padding: 0px 20px;
    width: 500px;
    background: #cce4fb ;
    border: solid 2px #0B01FF;
    border-radius: 5px;
    position: relative;
}

#modal img {
    width: 60%;
}

#modal p {
    font-size : 170%;
    text-align: center;
    padding: 0px;
    font-weight: bold;
}

#remove-button {
  font-size: 110%;
  text-align: center;
  color: #0B01FF;
  right: 10px;
  top: 0px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  border: 0px;
}

/* Footer */
footer {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 250%;
}

#coffee_break img {
    width: 20%;
    display : block;
    margin-left: auto;
    margin-right: auto;
}

footer p:first-child {
    margin-top: 10px;
    margin-bottom: 20px;
}

footer p:last-child {
    font-size: 50%;
    margin-top: 0;
}

footer a {
    color: #0B01FF;
}

