/*Timeline*/
@import "timeline.css";

/* Custom Fonts */

@font-face {
    font-family: 'poppinsmedium';
    src: url('../WebFont/poppins-medium-webfont.eot');
    src: url('../WebFont/poppins-medium-webfont.eot') format('embedded-opentype'),
         url('../WebFont/poppins-medium-webfont.woff') format('woff'),
         url('../WebFont/poppins-medium-webfont.ttf') format('truetype'),
         url('../WebFont/poppins-medium-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsextralight';
    src: url('../WebFont/poppins-extralight-webfont.eot');
    src: url('../WebFont/poppins-extralight-webfont') format('embedded-opentype'),
         url('../WebFont/poppins-extralight-webfont.woff') format('woff'),
         url('../WebFont/poppins-extralight-webfont.ttf') format('truetype'),
         url('../WebFont/poppins-extralight-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Overall Page*/
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    background-color: #000013;
    font-family: 'poppinsmedium', Montserrat, serif;
    margin:0px;
    padding: 0;
}

#block_page {
    width: 100%;
    height:100%;
    max-width: 1500px;
    margin: auto;
    padding: 0px 40px;
}

/* Header */

header {
    background: url("../Images/web_design.png") top right scroll no-repeat;
    background-size: 60%;
    margin-top: 100px;
    padding: 1px 0;
    height: 850px; /* pourquoi avoir besoin de préciser..? */
    font-family: 'poppinsmedium', Montserrat, serif;
}

#introduction {
    font-size: bold;
    margin: 50px;
    top: 500px;
    left: 100px;
    width: 40%;
    overflow: auto;
    padding:0;
    display: flex;
    flex-direction: column;
    flex-wrap : wrap;
}

#introduction p {
    color : #ffffff;
    font-size: 150%;
}

header h1 {
    color: rgb(255,255,255);
    font-size: 550%;
    text-shadow: 0px 0px 7px #ffffff;
}

header h2 {
    color: #ffffff;
    text-decoration: overline;
    margin-top: -30px;
}

#introduction button {
    border: 2px solid rgb(72, 221, 227);
    text-shadow: 0px 0px 7px rgb(72, 221, 227);
    box-shadow: 0px 0px 7px rgb(72, 221, 227);
    border-radius: 100px;
    padding : 15px;
    font-size: 150%;
    color: rgb(72, 221, 227);
    background-color: #000013;
    margin-top: 80px;
    width: 80%;
}

/* Section Experiences*/


section#experiences {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-around;
    width: 100%;
    height: 1300px;
}

#experiences h1 {
    color: rgb(255,255,255);
    font-size: 350%;
    text-shadow: 0px 0px 7px #ffffff;
    text-align:center;
}

#experiences h2 {
    font-family: 'poppinsextralight', Montserrat, serif;
    font-size: 150%;
    color: rgb(255,255,255);
    margin-top: -30px;
    margin-bottom: 100px;
    text-decoration: underline;
    text-align:center;
}

.row_1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px 0px;
}

.row_2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#experiences h3 {
    font-family: 'poppinsmedium', Montserrat, serif;
    font-size: 100%;
    color: rgb(72, 221, 227);
}

.date_company_right, .date_company_left {
    font-family: 'Courier New', serif;
    font-size: 120%;
    color: rgb(72, 221, 227);
    text-shadow: 0px 0px 7px rgb(72, 221, 227);
    padding: 10px 45px;

}

.date_company_left{
    text-align: right;

}


#experiences h4 {
        margin: 0px;
}

/* Navigation block */

#nav {
    display : block;
    z-index: 100;
    background-color: #FF13B5;
    color: rgb(255,255,255);
    font-size: 80%;
    font-family: 'poppinsmedium', Montserrat, serif;
    margin: auto;
    position: fixed;
    right: 2%;
    top: 80px;
}


#nav ul {
    display:flex;
    flex-direction: column;
    align-content:center;
    padding: 0px 5px;
    text-align: center;
    margin: 0;
}

#nav li {
    list-style-type: none;
    height: 80px;
    width : 90px;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0px;
}

/*

.cell_1{
    width: 300px;
    text-align: center;
}

.cell_2{
    max-width: 800px;
}

.cell_2, .cell_1{
    margin:8px 55px;
}

img{
    padding-top: 10px;
}
*/

/* Section Skills*/

#skills {
    /*background: url("../Images/blue-background.jpeg") top right scroll no-repeat;*/
    background-size: cover;
    margin-top:0px;
    padding: 1px 0;
    height: 950px; /* ourquoi avoir besoin de préciser..? */
}

#skills_bloc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

#skills h1 {
    font-size: 350%;
    color: rgb(225,225,225);
    text-shadow: 0px 0px 7px #ffffff;
    text-align:center;
}

#skills h2 {
    font-family: 'poppinsextralight', Montserrat, serif;
    font-size: 150%;
    color: rgb(72, 221, 227);
    margin-top: -30px;
    margin-bottom: 50px;
    text-decoration: underline;
    text-align:center;
}
#skills h3 {
    border: 2px solid rgb(72, 221, 227);
    min-width:500px;
    padding: 20px;
    margin:50px;
    border-radius: 100px;
    text-decoration: none;
}

/*
.container_skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#table {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.language {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'poppinsextralight', Montserrat, serif;
    color: rgb(72, 221, 227);
    font-size: 95%;
}

.column_1 p {
    margin-left: 20px;
    margin-right: 20px;
    padding: 1px 0;
}


*/

/* progress bar */
.progress-bar {
    width: 300px;
    height: 24px;
    padding: 4px;
    margin-top: 24px;
    background-color: #191919;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -moz-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
}

.progress-bar:before {
    content: '';
    display: block;
    position: absolute;
    width: 200px;
    height: 24px;
    background: #999;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}

.blue:before {
  background: #099;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#099), to(#006A6B));
  background: -moz-linear-gradient(top, #099, #006A6B);
}

