/* Custom Font */
@font-face {
    font-family: 'hartingplain';
    src: url('Font/harting_plain-webfont.eot');
    src: url('Font/harting_plain-webfont.eot?#iefix') format('embedded-opentype'),
         url('Font/harting_plain-webfont.woff') format('woff'),
         url('Font/harting_plain-webfont.ttf') format('truetype'),
         url('Font/harting_plain-webfont.svg#hartingplain') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsextralight';
    src: url('Font/poppins-extralight-webfont.eot');
    src: url('Font/poppins-extralight-webfont') format('embedded-opentype'),
         url('Font/poppins-extralight-webfont.woff') format('woff'),
         url('Font/poppins-extralight-webfont.ttf') format('truetype'),
         url('Font/poppins-extralight-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsmedium';
    src: url('Font/poppins-medium-webfont.eot');
    src: url('Font/poppins-medium-webfont.eot') format('embedded-opentype'),
         url('Font/poppins-medium-webfont.woff') format('woff'),
         url('Font/poppins-medium-webfont.ttf') format('truetype'),
         url('Font/poppins-medium-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Overall Page*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'poppinsextralight', serif;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
}

#main_container {
    width: 1200px;
    margin: auto;
    padding: 0px 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

section h2, footer h2 {
    font-family: 'poppinsmedium', serif;
    font-size: 130%;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

mark {
    color: #ffffff;
    background-color: rgb(0,0,0);
    padding : 10px 18px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    padding: 10px;
    margin: 10px;
}

/* Solid border */
hr.solid {
  border-top: 3px solid black;
  margin: 10px 0;
}


/* Header */


header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin : 20px 0px;
}

#logo {
    font-family: 'poppinsmedium', serif;
    font-size: 300%;
    border: 6px solid black;
    padding: 30px 0px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin: auto;
    width: 40%;
    background-color: #ffffff;
    z-index: 100;
    align-self: flex-end;
}

header h1 {
    font-size: 100%;
    margin-right: 150px;
}

/* Nav bar */
 nav {
    font-family: 'hartingplain', serif;
    font-size: 100%;
}

nav a {
    color: rgb(0,0,0);
    text-decoration: none;
}

nav a:hover {
    border-bottom: 3px solid rgb(0,0,0);
}


/* Banner */

#banner {
    position: relative;
    background: url("Images/NYC_statue.jpg") no-repeat;
    height: 500px;
    z-index: 50;
    margin-top: -80px;
}

#banner_description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'poppinsmedium', serif;
    color: #ffffff;
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    bottom: 0;
}

#button {
    border-radius : 2px;
    background: #419293;
    padding: 10px;
    text-align:center;
    font-family: 'poppinsmedium', serif;
}

#button img{
    padding-left: 8px;
}

#banner_description a, #banner_description a:hover {
    color: #ffffff;
    text-decoration:none;
}

/* Section */

section {
    display: flex;
    flex-wrap : wrap;
    margin: 0px 0px;
    height: auto;
    text-align: left;
}

article {
    flex: 3;
    padding-right: 50px;
}

article img{
    width: 100%;
}

aside {
    display: flex;
    flex-direction: column;
    flex:1.2;
    width: auto;
    height: 900px;
    flex-wrap : wrap;
}

#aside_img {
    height: 50%;
    max-width: 100%;
    margin: auto;
}

aside img{
    height: 100%;
    width: 100%;
}

aside ul {
    justify-content: center;
    align-items: center;
}

aside ul img{
    width: 60px;
    height: 60px;
}

/* Footer */

footer #cells_container {
    display: flex;
    justify-content: space-between;
    height: 400px;
    margin-top: 20px;
    position: relative;
}

footer div.cell{
    width: 30%;
    height: 80%;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cell a {
    display:flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-decoration: none;
}

.cell img {
    width: 80%;
}

footer div p {
    text-align: justify;
    padding: 5px 0px;
}

div.date {
    position: absolute;
    bottom: 0;
    color: grey;
    align-self: flex-start;
}

#img_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    margin: 40px 0;
}

#img_wrapper img{
    width: 100%;
}

footer div:hover{
    opacity: 1;
}

#black_footer {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.black_rectangle {
    height: 40px;
    width: 100%;
    background: rgb(0,0,0);
    border: 1px rgb(0,0,0);
    margin: 0;
}

#black_footer a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: -5px;
}


#black_footer img {
    height: 50px;
}

/* Rules for mobile and smallest screens */
@media all and (max-width: 1024px) {
{
}
    /* Main */
    #main_container {
        width: auto;
    }

    li{
        padding: 3px;
        margin: 3px;
    }


    /* Header */

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    #logo {
        letter-spacing: .1rem;
        min-width: 60%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    header h2 {
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }

        /* Nav bar */

     nav {
        align-self: flex-start;
     }

     nav ul {
        flex-direction: column;
    }
    /* Banner */

    #banner {
        display: none;
    }

    /* Section */

    section {
        flex-direction: column;
        justify-content: center;
        text-align: justify;
    }

    article {
        padding: 5px;
    }

    aside {
        display: block;
        height: auto;
        padding: 5px;
    }

    aside h2 {
        padding: 20px;
    }

    #aside_img{
        float: left;
    }

    aside img{
        width: 200px;
        height: auto;
        margin-left: 20px;
        margin-right: 20px;
    }

    aside p {
        width: auto;
        margin: 20px;
        padding: 0 1px;
    }

    aside ul img{
        width:30px;
        height: 30px;
        margin-left: 5px;
    }


    /* Footer */

    footer #cells_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-top: 0px;
    }

    footer div.cell{
        width: 90%;
        position: relative;
        margin-top: 50px;
    }

    footer div.cell:first-child{
        margin-top: 20px;
    }

    div.cell a {
        margin-top: 20px;
    }
    div.date {
        top: 100%;
        padding-top: 20px;
    }

    #img_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
        margin: 20px 0;
    }

    #img_wrapper img{
        width: 100%;
    }

}